@import 'src/styles/colors.scss';

.container-card {
  width: calc(100% / 5);
  background: white;
  height: fit-content;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-tablet {
  display: none;
}
.body-container {
  padding-inline: 2rem;
  padding-block: 2rem;
}

.h4-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.p-card {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
  color: $secondary;
}

.p-subtitle {
  color: $primary;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

@media (min-width: 0) and (max-width: 599px) {
  .container-card {
    width: 100%;
  }
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: initial;
    color: $secondary;
  }
  .p-label-tablet {
    margin: 0;
    padding: 0;   
    line-height: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .body-container {
    padding-inline: 1rem;
  }
  .container-card {
    width: calc(100% / 3.5);
    background: white;
    height: fit-content;
  }
  .hide-tablet {
    display: none;
  }
  .show-tablet {
    display: initial;
    color: $secondary;
  }
  .p-label-tablet {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
}
@media (min-width: 1920px) {
}
