@import 'src/styles/colors.scss';

.container-card {
  width: calc(100% / 5);
  background: white;
  height: fit-content;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body-container {
  padding-left: 2rem;
  padding-block: 2rem;
}

.h4-title {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.p-card {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

.p-subtitle {
  color: $primary;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
