@import 'src/styles/colors.scss';

.transparent-container {
  height: 800px;
  background: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5rem;
}

.container-left {
  display: flex;
  flex-direction: column;
}
.show-movile {
  display: none;
}
.container-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  height: fit-content;
  width: fit-content;
}

.p-title-small {
  color: white;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

.h3-title-trans {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  padding: 0;
}
.h3-title-trans-green {
  color: $primary;
}

.p-content-trans {
  margin: 0;
  padding: 0;
  color: white;
}

.mini-card {
  width: 17rem;
  height: 10rem;
  background: rgb(155, 155, 155, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-mini-card {
  margin: 0;
  padding: 0;
  color: $primary;
  font-size: 2.5rem;
}
.p-mini-card {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: white;
}

@media (min-width: 0) and (max-width: 599px) {
  .transparent-container {
    height: fit-content;
    flex-direction: column;
    padding-block: 3rem;
    padding-inline: 2rem;
    column-gap: 0;
    row-gap: 3rem;
  }
  .container-right {
    grid-template-columns: 1fr;
  }

  .p-title-small {
    text-align: center;
  }
  .hide-movile {
    display: none;
  }
  .show-movile {
    display: initial;
  }

  .h3-title-trans {
    text-align: center;
  }
  .p-content-trans {
    text-align: center;
    line-height: 2rem;
  }
  .container-left {
    align-items: center;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .transparent-container {
    height: fit-content;
    flex-direction: column;
    padding-block: 3rem;
    padding-inline: 2rem;
    column-gap: 0;
    row-gap: 3rem;
  }
  .p-title-small {
    text-align: center;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
}
@media (min-width: 1920px) {
}
