@import 'src/styles/colors.scss';

.container-bold-men {
  background: white;
  padding-block: 10rem;
  display: flex;
  justify-content: center;
}
.flex-inverted {
  flex-direction: row-reverse;
}
.show-movile {
  display: none;
}

.container-picture {
  width: 35rem;
}

.p-mini-title {
  font-size: 1.3rem;
  color: $secondary;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
}

.h3-title {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

.color-primary {
  color: $primary;
}

.img-bold {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-data {
  width: 35rem;
  padding-left: 4rem;
  padding-block: 4rem;
}

.p-content-bold {
  margin: 0;
  padding: 0;
  color: $secondary;
  margin-bottom: 0.4rem;
  letter-spacing: 0.05rem;
}

@media (min-width: 0) and (max-width: 599px) {
  .container-bold-men {
    flex-direction: column;
    padding-block: 5rem;
  }
  .container-picture {
    width: 100%;
    padding-inline: 2rem;
  }
  .container-data {
    width: 100%;
    padding-left: 0;
    padding-block: 1rem;
    padding-inline: 2rem;
  }
  .hide-movile {
    display: none;
  }
  .show-movile {
    display: initial;
  }
  .p-movile {
    text-align: center;
    line-height: 2rem;
  }
}
@media (min-width: 600px) and (max-width: 1199px) {
  .container-bold-men {
    flex-direction: column;
    padding-block: 5rem;
  }
  .container-picture {
    width: 100%;
    padding-inline: 2rem;
  }
  .container-data {
    width: 100%;
    padding-left: 0;
    padding-block: 1rem;
    padding-inline: 2rem;
  }
  .hide-movile {
    display: none;
  }
  .show-movile {
    display: initial;
  }
  .p-movile {
    text-align: center;
    line-height: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
}
@media (min-width: 1920px) {
}
